.nav-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    text-align: center;
    padding: 10px;
    background: white;
}
.nav-bottom .link {
    flex: 1;
}
.nav-bottom .link i {
    color: #d1d1d1;
}
.nav-bottom .link  i.homebottm {
    color: black;
}
.nav-bottom .link  i.favoritesbottm {
    color: black;
}
.nav-bottom .link  i.searchbottm {
    color: black;
}
