.filter-control {
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 30px;
    color: #4b4b4b;
    bottom: 30px;
    box-shadow: 5px 5px 20px #4b4b4b;
    z-index: 999;
}
.filter-control:focus {
    outline: none;
}
.filter-control.filter-on {
    background: #4b4b4b;
    color: white;
}
.filter {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 60px;
}
.filter-on-enter-active, .filter-on-leave-active {
    transition: opacity .5s
}
.filter-on-enter, .filter-on-leave-to{
    opacity: 0;
}
.filter .filter-group {
    position: absolute;
    bottom: 5px;
    left: 40px;
    display: flex;
    width: 100%;
    align-items: center;
}

.filter .filter-group .icon {
    margin: 0 10px;
    font-size: 10px;
    border-radius: 20px;
    background: white;
}
.filter .filter-group .filter-button {
    margin: 0 10px;
    border-radius: 30px;
    font-size: 10px;
    border-radius: 20px;
    background: white;
    color: #6c757d;
    border: 1px solid #6c757d;
}
.filter .filter-group .filter-button:focus{
    outline: none!important;
    box-shadow: none!important;
}
.filter .filter-group .filter-button.selected{
    background: #6c757d;
    color: white;
}
.modal {
    width: 375px;
}
.modal-dialog {
    width: 80%;
    margin: auto;
}
.modal-title {
    text-align: center;
    color: #333333;
    font-size: 16px;
    width: 100%;
}
.modal-header .close{
    margin: -16px -16px -16px -32px;
    float: right;
}
.modal-content{
    border-radius: 30px;
}
.modal-body{
    padding: 10px 10px;
    justify-content: center;
}
.modal-body .buttons {
    text-align: center;
}
.modal-footer {
    border-bottom: 0;
    display: flex;
    justify-content: center;
}
.modal-footer .text {
    text-align: center;
    border: none;
    background: white;
    color: #57727f;
    font-size: 16px;
}
.modal-footer .btn{
    border-radius: 30px;
    font-size: 12px;
}
.filter-button{
    border-radius: 30px;
    font-size: 14px;
    margin: 10px 10px;
    color: #6c757d;
    background: white;
    padding: .375rem .75rem;
    border:1px solid #6c757d;
}
.filter-button:focus,
.filter-button:active:focus{
    outline: none!important;
    box-shadow: none!important;
}
.filter-button.selected{
    background: #6c757d;
    color: white;
}
#filter-age input {
    box-shadow: 0;
    outline: 0;
}
#filter-age .range-slider {
    width: 200px;
    margin: auto;
    text-align: center;
    position: relative;
}
#filter-age .range-slider .content {
    display: flex;
    flex-direction: row;
}
#filter-age .range-slider .value-wrapper {
    background: #cdcdcc;
    border-radius: 30px;
    font-size: 12px;
    width: 60px;
    margin: 50px 10px;
    margin-top: 0;
}
#filter-age .range-slider .value-wrapper-middle {
    font-size: 12px;
    margin: 50px 10px;
    margin-top: 0;
}

#filter-age .range-slider svg,
#filter-age .range-slider input[type=range] {
    position: absolute;
    left: 0;
    bottom: 0;
}
#filter-age input[type=range] {
    -webkit-appearance: none;
    width: 100%;
  }
#filter-age  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: grey;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
#filter-age input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid grey;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}


