.main {
    position: fixed;
    width: 100%;
    height: 100%;
}
.home {
    display: flex;
    overflow: hidden;
    width: 100%;
    transition: 0.5s;
    position: absolute;
    top: 110px;
    height: 100%;
}
.home .list-wrapper {
    flex: 1;
}
.home .list-wrapper ul{
    padding: 0 5px 0 15px;
    list-style: none;
}

.list-wrapper .list-item{
    position: relative;
    border-bottom: 1px solid #E4E4E4;
    height: 80px;
}
.list-wrapper .list-item .avatar {
    position: absolute;
    top: 15px;
    max-width: 55px;
    height:55px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 20px;
    display: inline-block;
    outline: none;
}
.list-wrapper .list-item .avatar.is-like {
    box-shadow: 0 0 0 2px #e4365b;
}
.list-wrapper .list-item .avatar.not-like {
    border: 0;
}
.list-wrapper .list-item .avatar:focus{
    border: none !important;
}
.list-wrapper .list-item .name{
    position: absolute;
    top: 10px;
    left: 65px;
    font-size: 14px;
    color: #333333;
    display: inline-block;
}
.list-wrapper .list-item .age{
    position: absolute;
    bottom: 0px;
    left: 82px;
    font-size: 12px;
    color: #4b4b4b;
    display: inline-block;
}
.list-wrapper .list-item .female-icon{
    position: absolute;
    left: 70px;
    bottom: 19px;
    font-size: 12px;
    color: #e4365b;
    display: inline-block;
}
.list-wrapper .list-item .male-icon{
    position: absolute;
    left: 70px;
    bottom: 19px;
    font-size: 12px;
    color: #0c87ce;
    display: inline-block;
}
.list-wrapper .list-item .region{
    position: absolute;
    bottom: 0px;
    left: 140px;
    font-size: 14px;
    color: #4b4b4b;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.list-wrapper .list-item .flag{
    position: absolute;
    width: 18px;
    height: 12px;
    bottom: 20px;
    left: 115px;
}
.list-wrapper .list-item .add-to-favorite{
    position: absolute;
    width: 50px;
    height: 24px;
    bottom: 30px;
    right: 20px;
    font-size: 14px;
    padding: 1px 0;
    border-radius: 20px;
    background: #e6205f;
    border: 0;
}
.list-wrapper .list-item .add-to-favorite.not-like{
    position: absolute;
    width: 50px;
    height: 24px;
    bottom: 30px;
    right: 20px;
    font-size: 14px;
    padding: 1px 0;
    border-radius: 20px;
    background: #e6205f;
    border: 0;
}
.list-wrapper .list-item .add-to-favorite:focus{
    box-shadow: none !important;
}

.list-wrapper .list-item .add-to-favorite.is-like{
    color: #4b4b4b;
    background: white;
    border: 1px solid #4b4b4b;
}
#modal-user {
    width: 100vw;
}
#modal-user .modal-header{
    border: 0;
    height: 30px;
}
#modal-user .modal-dialog {
    width: 80%;
    margin: auto;
}
#modal-user .modal-content{
    border-radius: 30px;
}
#modal-user .modal-body{
    padding-bottom: 0;
}
#modal-user .modal-footer .btn{
    border-radius: 30px;
    font-size: 14px
}
#modal-user .modal-footer .add-to-favorite{
    border-radius: 30px;
    font-size: 14px;
}

#modal-user .modal-footer .add-to-favorite.not-like{
    border-radius: 30px;
    font-size: 14px;
    border-radius: 20px;
    background: #e6205f;
    border: 0;
}
#modal-user .modal-footer .add-to-favorite:focus{
    box-shadow: none !important;
}

#modal-user .modal-footer .add-to-favorite.is-like{
    color: #4b4b4b;
    background: white;
    border: 1px solid #4b4b4b;
}
.filter {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 70px;
}
.filter .filter-group {
    position: absolute;
    display: flex;
    left: 10px;
    width: 95%;
    align-items: center;
}
.filter .filter-group .clear-filter {
    border: 0;
    background: white;
    outline: none;
}

.filter .filter-group .icon {
    margin: 0 10px;
    font-size: 10px;
    border-radius: 20px;
    background: white;
}
.filter .filter-group .filter-button {
    margin: 0px 10px;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 14px;
    border-radius: 20px;
    background: white;
    color: #6c757d;
    border: 1px solid #6c757d;
}
.filter .filter-group .filter-button:focus{
    outline: none!important;
    box-shadow: none!important;
}
.filter .filter-group .filter-button.selected{
    background: #6c757d;
    color: white;
}
#filter-gender,
#filter-region,
#filter-age {
    width: 100vw;
}
#filter-gender .modal-dialog,
#filter-region .modal-dialog,
#filter-age .modal-dialog {
    width: 80%;
    margin: auto;
}
#filter-gender .modal-title,
#filter-region .modal-title,
#filter-age .modal-title {
    text-align: center;
    color: #333333;
    font-size: 16px;
    width: 100%;
}
#filter-gender .modal-header .close,
#filter-region .modal-header .close,
#filter-age .modal-header .close {
    margin: -16px -16px -16px -32px;
    float: right;
}
#filter-gender .modal-content,
#filter-region .modal-content,
#filter-age .modal-content{
    border-radius: 30px;
}
#filter-gender .modal-body,
#filter-region .modal-body{
    padding: 10px 10px;
    justify-content: center;
}
#filter-age .modal-body {
    padding: 30px 10px;
    justify-content: center;
}
#filter-gender .modal-body .buttons,
#filter-region .modal-body .buttons,
#filter-age .modal-body .buttons {
    text-align: center;
}
#filter-gender .modal-footer,
#filter-region .modal-footer,
#filter-age .modal-footer {
    padding-top: 5px;
    border-bottom: 0;
}
#filter-gender .modal-footer div,
#filter-region .modal-footer div,
#filter-age .modal-footer div {
    height: 20px;
}
#filter-gender .modal-footer .text,
#filter-region .modal-footer .text,
#filter-age .modal-footer .text {
    position: absolute;
    right: 10%;
    border: none;
    background: white;
    color: #57727f;
    font-size: 16px;
}
#filter-gender .modal-footer .clear,
#filter-region .modal-footer .clear,
#filter-age .modal-footer .clear{
    position: absolute;
    color: #57727f;
    left: 10%;
    font-size: 16px;
    border: 0;
    background: white;
    outline: none;
}
#filter-gender .filter-button,
#filter-region .filter-button,
#filter-age .filter-button{
    border-radius: 30px;
    font-size: 14px;
    margin: 10px 10px;
    color: #6c757d;
    background: white;
    padding: .375rem .75rem;
    border:1px solid #6c757d;
}
#filter-gender .filter-button:focus,
#filter-gender .filter-button:active:focus,
#filter-region .filter-button:focus,
#filter-region .filter-button:active:focus,
#filter-age .filter-button:focus,
#filter-age .filter-button:active:focus{
    outline: none!important;
    box-shadow: none!important;
}
#filter-gender .filter-button.selected,
#filter-region .filter-button.selected,
#filter-age .filter-button.selected{
    background: #6c757d;
    color: white;
}
#filter-age input {
    box-shadow: 0;
    outline: 0;
}
#filter-age .range-slider {
    width: 200px;
    margin: auto;
    text-align: center;
    position: relative;
}
#filter-age .range-slider .content {
    display: flex;
    flex-direction: row;
}
#filter-age .range-slider .value-wrapper {
    background: #cdcdcc;
    border-radius: 30px;
    font-size: 12px;
    width: 60px;
    margin: 50px 10px;
    margin-top: 0;
}
#filter-age .range-slider .value-wrapper-middle {
    font-size: 12px;
    margin: 50px 10px;
    margin-top: 0;
}

#filter-age .range-slider svg,
#filter-age .range-slider input[type=range] {
    position: absolute;
    left: 0;
    bottom: 0;
}
#filter-age input[type=range] {
    -webkit-appearance: none;
    width: 100%;
  }
#filter-age  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: grey;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
#filter-age input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid grey;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
