.navbar {
    top: 0;
    width: 100%;
    z-index: 999;
}
.navbar-nav .nav-item {
    color: white;
    margin: 10px 10px;
}

.navbar .nav-item {
    display: flex;
}

.navbar .badge {
    margin: auto 10px;
    border-radius: 50px;
}